/.vs
**/bin
**/obj
**/packages/.vs
**/bin
**/obj
**/packages
/Dapper/obj
/Dapper/bin
/DapperEx/obj
/DapperEx/bin
/dapperFramewoek/obj
/dapperFramewoek/bin
/IYRSystemDAL/obj
/IYRSystemDAL/bin
/IYRSystemService/bin
/IYRSystemService/obj
/packages
/YRStstemModel/obj
/YRStstemModel/bin
/YRSystemDAL/obj
/YRSystemModel/obj
/YRSystemModel/bin
/YRSystemService/obj
/YRSystemService/bin
